---

destinations:
  jetstream2:
    runner: slurm
    max_accepted_cores: 32
    max_accepted_mem: 125
    context:
      partition: tpv
      time: 24:00:00
    params:
      submit_native_specification: "--nodes=1 --ntasks={cores} --mem={round(mem*1024)} --time={time} --partition={partition}"
      tmp_dir: true
      outputs_to_working_directory: true
      singularity_enabled: true
      singularity_volumes: "$galaxy_root:ro,$tool_directory:ro,$working_directory:rw,$job_directory:rw,/cvmfs/data.galaxyproject.org:ro,/cvmfs/main.galaxyproject.org:ro"
      singularity_default_container_id: /cvmfs/singularity.galaxyproject.org/all/python:3.8.3
    env:
    - execute: ulimit -c 0
    - name: _JAVA_OPTIONS
      value: $_JAVA_OPTIONS -Djava.io.tmpdir=$TEMP
    - name: SINGULARITYENV__JAVA_OPTIONS
      value: $_JAVA_OPTIONS
    - name: SINGULARITYENV_TERM
      value: vt100
    - name: SINGULARITYENV_LC_ALL
      value: C
    - name: SINGULARITYENV_TEMP
      value: $TEMP
    - name: SINGULARITYENV_TMPDIR
      value: $TEMP

global:
  default_inherits: _default

tools:
  _default:
    abstract: true
    cores: 1
    mem: cores * 2.89
    env:
      - name: _JAVA_OPTIONS
        value: value: $_JAVA_OPTIONS -Xmx{round(mem*0.9*1024)}m -Xms256m
